* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #424242;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 1120px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1199.98px) { 
  .container {
    padding: 0 32px;
  }
}

@media (max-width: 991.98px) { 
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 767.98px) { 
  .container {
    padding: 0 16px;
  }
}

/*================  header area  ==================*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.header__nav::after {
  content: '';
  display: table;
  clear: both;
}

.header__wrapper {
  position: relative;
}

.header__nav {
  width: 100%;
  padding: 24px 0;
}

.header__logo {
  margin: 5px 0 0;
  float: left;
  width: 32px;
  height: 24px;
}

.header__nav-menu {
  float: right;
  margin: 5px 0 0;
}

.header__nav-list {
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__nav-item {
  float: left;
  margin-right: 40px;
  font-size: 18px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  color: #1f1534;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.header__nav-link:hover {
  color: #6246e4;
}

.active {
  color: #6246e4;
}

.header__burger_menu {
  display: none;
}

.burger-menu {
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 1;
  padding: 12px 10px;
  text-align: right;
  cursor: pointer;
}

.menu-bar {
  width: 20px;
  height: 2px;
  display: inline-block;
  margin-bottom: 5px;
  background-color: #313131;
  border-radius: 1px;
  transition: all 0.35s ease;
  transition-delay: 0.4s;
  transform-origin: center center
}

.menu-bar:nth-child(1) {
  margin-top: 1px;
}

.menu-bar:nth-child(2) {
  width: 16px;
  opacity: 1;
  transform: scale(1)
}

.menu-bar:nth-child(3) {
  margin-bottom: 0;
}

.show-menu .menu-bar:nth-child(1) {
  transform: rotate(135deg) translate(4px, -4px);
  transition-delay: .1s;
}

.show-menu .menu-bar:nth-child(2) {
  transform: scale(0);
  opacity: 0;
  transition-delay: 0s;
}

.show-menu .menu-bar:nth-child(3) {
  transform: rotate(-135deg) translate(6px, 6px);
  transition-delay: .1s;
}

@media (max-width: 991.98px) {
  .header__burger_menu {
    display: block;
    position: absolute;
    top: 18px;
    right: -10px;
    z-index: 2;
    transition: all .2s ease;
  }
  .header__logo {
    margin: 5px 0 0;
    float: none;
  }
  .header__nav-menu {
    display: none;
  }
}

.box {
  padding-top: 96px;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  outline: 0;
  border: 1px solid transparent;
  padding: 8px 24px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 8px ;
  cursor: pointer;
  background-color: #6246e4;
  color: #fff;
}

.tooltip {
  position: relative;
  transition: all .2s ease;
}

@keyframes tooltips {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tooltip::before {
  content: attr(data-title);
  display: none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  z-index: 1;
  font-size: 14px;
  padding: 7px 0;
  animation: tooltips .4s ease both;
}

.tooltip::after {
  content: "";
  display: none;
  border: 5px solid;
  animation: tooltips .4s ease both;
}

.tooltip:hover::before,
.tooltip:hover::after {
  display: block;
}

/* data tooltip on Top */
[data-placements="top"]::before {
  position: absolute;
  top: -106%;
  left: -8%;
}

[data-placements="top"]::after {
  position: absolute;
  top: -8px;
  left: 45%;
  border-color: black transparent transparent transparent;
}

/* data tooltip on bottom */
[data-placements="bottom"]::before {
  position: absolute;
  bottom: -106%;
  left: -8%;
}

[data-placements="bottom"]::after {
  position: absolute;
  bottom: -9px;
  left: 45%;
  border-color: transparent transparent black transparent;
}

/* data tooltip on left */
[data-placements="left"]::before {
  position: absolute;
  top: 8%;
  left: -125%;
}

[data-placements="left"]::after {
  position: absolute;
  top: 35%;
  left: -8%;
  border-color: transparent transparent transparent black;
}

/* data tooltip on right */
[data-placements="right"]::before {
  position: absolute;
  top: 8%;
  right: -125%;
}

[data-placements="right"]::after {
  position: absolute;
  top: 35%;
  right: -8%;
  border-color: transparent black transparent transparent;
}