.main-section(id='accordion')
  .container
    .main-section__head
      h2.main-section__title Features Accordion
    .row
      .col-12
        h2 Accordion 1
        ul.accordion.js-accordion
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor Accordion 1.
            .accordion__body
              p.accordion__desc
                | This will vary depending on the type of project. For logo &amp; branding projects, fees will be one-time costs. For website projects, we will typically charge a monthly fee, depending on the level of service you choose. To view a full list of our monthly packages, click here.
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor Accordion 2.
            .accordion__body
              p.accordion__desc
                | This will vary depending on the type of project. For logo &amp; branding projects, fees will be one-time costs. For website projects, we will typically charge a monthly fee, depending on the level of service you choose. To view a full list of our monthly packages, click here.
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor Accordion 3.
            .accordion__body
              p.accordion__desc
                | This will vary depending on the type of project. For logo &amp; branding projects, fees will be one-time costs. For website projects, we will typically charge a monthly fee, depending on the level of service you choose. To view a full list of our monthly packages, click here.
          li.accordion__item
            h3.accordion__title Lorem ipsum dolor Accordion 4.
            .accordion__body
              p.accordion__desc
                | This will vary depending on the type of project. For logo &amp; branding projects, fees will be one-time costs. For website projects, we will typically charge a monthly fee, depending on the level of service you choose. To view a full list of our monthly packages, click here.
