.main-section(id='dropdown')
  .container
    .main-section__head
      h2.main-section__title Features Dropdown
    .main-features__wrapper
      each val in [0,1]
        .main-features__row
          .dropdown.js-dropdown
            button.btn.btn--primary(type='button' class='dropbtn') Dropdown
            .dropdown__menu
              ul.dropdown__menu-list
                li.dropdown__menu-item
                  a.dropdown__menu-link(href='#') Tabs
                li.dropdown__menu-item
                  a.dropdown__menu-link(href='#') Accordion
                li.dropdown__menu-item
                  a.dropdown__menu-link(href='#') Toast
                li.dropdown__menu-item
                  a.dropdown__menu-link(href='#') Tooltips
      p Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Ducimus cum veritatis eius aperiam consequuntur odit rerum est fugiat repudiandae, sit voluptatem expedita repellat. Error sit qui, inventore? Laudantium, molestias sit odio corporis alias tempore incidunt, fugit repudiandae doloremque soluta illum possimus libero aliquid autem. Laboriosam, debitis itaque necessitatibus minus aliquam, atque eligendi ipsa ut veniam commodi aliquid, magni eveniet nam hic nisi vel. Animi optio placeat, aut architecto corporis numquam a officia, veritatis quos nisi. Beatae quia perspiciatis laudantium iure cum ab, explicabo rem nam provident eum esse officia veniam similique atque omnis perferendis fugit nihil autem quas architecto laborum.