.tabs(id='tab')
  .tabs__content.js-tabs
    .tabs__control
      .container
        .row
          .col-12
            ul.tabs__control-list
              li.tabs__control-item(data-target="tab-1")
                | Tabs 1
              li.tabs__control-item(data-target="tab-2")
                | Tabs 2
              li.tabs__control-item(data-target="tab-3")
                | Tabs 3
              li.tabs__control-item(data-target="tab-4")
                | Tabs 4
    .tabs__pane
      .container
        .row
          .col-12
            .tabs__pane-item(data-pane="tab-1")
              .tabs__pane-head
                h3.tabs__pane-title Tabs 1
              .tabs__pane-body
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus labore cumque, obcaecati atque molestiae beatae molestias vel libero deleniti voluptas veritatis repudiandae harum itaque aut nostrum laborum excepturi illo quidem. Recusandae, ipsum officia veniam fuga odit facere asperiores quis molestias quae magni minus nemo sint corporis dolorem ducimus exercitationem necessitatibus accusantium, facilis nihil beatae veritatis eveniet quisquam, impedit. Id veniam blanditiis magni dicta accusamus voluptatem, suscipit, iure, numquam voluptate incidunt quaerat reprehenderit excepturi quasi quo, quis? Enim reiciendis totam provident! Nemo accusantium dolore ullam tempora dignissimos modi iure. Quos fuga animi quasi veritatis doloribus nisi rem deleniti fugit dignissimos, aut quis architecto doloremque, eos quisquam commodi voluptate consectetur? Laudantium minus eligendi, vel facilis nisi, qui, laborum ullam explicabo officiis consequuntur aliquid ut. Voluptas recusandae est dolores aliquid a excepturi quaerat iste ad debitis, repellat delectus at, odio doloribus dolore consequatur nisi nam esse aut numquam quas fugit voluptates rerum maiores asperiores? Ab vitae aliquid minus adipisci consectetur eos dignissimos porro dicta. Assumenda maiores dolorem, vel dolore vitae qui recusandae nisi, ab consequuntur rem quis numquam odit ad sapiente omnis voluptas, reiciendis cumque? Illo voluptatibus ad quia eum optio? Nemo, exercitationem. Aperiam ipsam doloremque inventore esse, praesentium sunt accusantium voluptatem perferendis.
          .col-12
            .tabs__pane-item(data-pane="tab-2")
              .tabs__pane-head
                h3.tabs__pane-title Tabs 2
              .tabs__pane-body
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus labore cumque, obcaecati atque molestiae beatae molestias vel libero deleniti voluptas veritatis repudiandae harum itaque aut nostrum laborum excepturi illo quidem. Recusandae, ipsum officia veniam fuga odit facere asperiores quis molestias quae magni minus nemo sint corporis dolorem ducimus exercitationem necessitatibus accusantium, facilis nihil beatae veritatis eveniet quisquam, impedit. Id veniam blanditiis magni dicta accusamus voluptatem, suscipit, iure, numquam voluptate incidunt quaerat reprehenderit excepturi quasi quo, quis? Enim reiciendis totam provident! Nemo accusantium dolore ullam tempora dignissimos modi iure. Quos fuga animi quasi veritatis doloribus nisi rem deleniti fugit dignissimos, aut quis architecto doloremque, eos quisquam commodi voluptate consectetur? Laudantium minus eligendi, vel facilis nisi, qui, laborum ullam explicabo officiis consequuntur aliquid ut. Voluptas recusandae est dolores aliquid a excepturi quaerat iste ad debitis, repellat delectus at, odio doloribus dolore consequatur nisi nam esse aut numquam quas fugit voluptates rerum maiores asperiores? Ab vitae aliquid minus adipisci consectetur eos dignissimos porro dicta. Assumenda maiores dolorem, vel dolore vitae qui recusandae nisi, ab consequuntur rem quis numquam odit ad sapiente omnis voluptas, reiciendis cumque? Illo voluptatibus ad quia eum optio? Nemo, exercitationem. Aperiam ipsam doloremque inventore esse, praesentium sunt accusantium voluptatem perferendis.
          .col-12
            .tabs__pane-item(data-pane="tab-3")
              .tabs__pane-head
                h3.tabs__pane-title Tabs 3
              .tabs__pane-body
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus labore cumque, obcaecati atque molestiae beatae molestias vel libero deleniti voluptas veritatis repudiandae harum itaque aut nostrum laborum excepturi illo quidem. Recusandae, ipsum officia veniam fuga odit facere asperiores quis molestias quae magni minus nemo sint corporis dolorem ducimus exercitationem necessitatibus accusantium, facilis nihil beatae veritatis eveniet quisquam, impedit. Id veniam blanditiis magni dicta accusamus voluptatem, suscipit, iure, numquam voluptate incidunt quaerat reprehenderit excepturi quasi quo, quis? Enim reiciendis totam provident! Nemo accusantium dolore ullam tempora dignissimos modi iure. Quos fuga animi quasi veritatis doloribus nisi rem deleniti fugit dignissimos, aut quis architecto doloremque, eos quisquam commodi voluptate consectetur? Laudantium minus eligendi, vel facilis nisi, qui, laborum ullam explicabo officiis consequuntur aliquid ut. Voluptas recusandae est dolores aliquid a excepturi quaerat iste ad debitis, repellat delectus at, odio doloribus dolore consequatur nisi nam esse aut numquam quas fugit voluptates rerum maiores asperiores? Ab vitae aliquid minus adipisci consectetur eos dignissimos porro dicta. Assumenda maiores dolorem, vel dolore vitae qui recusandae nisi, ab consequuntur rem quis numquam odit ad sapiente omnis voluptas, reiciendis cumque? Illo voluptatibus ad quia eum optio? Nemo, exercitationem. Aperiam ipsam doloremque inventore esse, praesentium sunt accusantium voluptatem perferendis.
          .col-12
            .tabs__pane-item(data-pane="tab-4")
              .tabs__pane-head
                h3.tabs__pane-title Tabs 4
              .tabs__pane-body
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus labore cumque, obcaecati atque molestiae beatae molestias vel libero deleniti voluptas veritatis repudiandae harum itaque aut nostrum laborum excepturi illo quidem. Recusandae, ipsum officia veniam fuga odit facere asperiores quis molestias quae magni minus nemo sint corporis dolorem ducimus exercitationem necessitatibus accusantium, facilis nihil beatae veritatis eveniet quisquam, impedit. Id veniam blanditiis magni dicta accusamus voluptatem, suscipit, iure, numquam voluptate incidunt quaerat reprehenderit excepturi quasi quo, quis? Enim reiciendis totam provident! Nemo accusantium dolore ullam tempora dignissimos modi iure. Quos fuga animi quasi veritatis doloribus nisi rem deleniti fugit dignissimos, aut quis architecto doloremque, eos quisquam commodi voluptate consectetur? Laudantium minus eligendi, vel facilis nisi, qui, laborum ullam explicabo officiis consequuntur aliquid ut. Voluptas recusandae est dolores aliquid a excepturi quaerat iste ad debitis, repellat delectus at, odio doloribus dolore consequatur nisi nam esse aut numquam quas fugit voluptates rerum maiores asperiores? Ab vitae aliquid minus adipisci consectetur eos dignissimos porro dicta. Assumenda maiores dolorem, vel dolore vitae qui recusandae nisi, ab consequuntur rem quis numquam odit ad sapiente omnis voluptas, reiciendis cumque? Illo voluptatibus ad quia eum optio? Nemo, exercitationem. Aperiam ipsam doloremque inventore esse, praesentium sunt accusantium voluptatem perferendis.