.toast.js-toast(id='toast')
  .container
    .toast__content
      p.toast__desc  Kami menggunakan cookie untuk meningkatkan pengalaman Anda menelusuri situs kami, untuk merekomendasikan produk yang sesuai, dan untuk menampilkan iklan yang relevan.
      button.toast__btn-toast(type='button' class='js-hide-toast')
        i.bro-close