.main-section(id='tooltips')
  .container
    .main-section__head
      h2.main-section__title Features Tooltips
    .main-features__wrapper
      .main-features__row
        button.btn.btn--primary.tooltips(data-title='tooltips on top' data-placements='top') Tooltips
      .main-features__row
        button.btn.btn--primary.tooltips(data-title='tooltips on bottom' data-placements='bottom') Tooltips
      .main-features__row
        button.btn.btn--primary.tooltips(data-title='tooltips on left' data-placements='left') Tooltips
      .main-features__row
        button.btn.btn--primary.tooltips(data-title='tooltips on right' data-placements='right') Tooltips
