.main-banner__item
  .container
    .main-banner__img-wrapper
      img(src=banner.image alt=banner.title)/
    .main-banner__text-wrapper
      h2.main-banner__title !{banner.title}
      p.main-banner__desc !{banner.desc}
      a.btn.main-banner__btn.btn--primary(href='features.html') Learn More
