// Main Section Style

.main-section {
  padding: 40px 0;
  &:nth-child(2) {
    padding-top: 80px;
  }
  &:last-child {
    padding-bottom: 80px;
  }
  @include medium {
    padding: 20px 0;
    &:nth-child(2) {
      padding-top: 40px;
    }
    &:last-child {
      padding-bottom: 40px;
    }
  }
  &__head {
    text-align: center;
    padding-bottom: 32px;
    &-left {
      text-align: left;
      padding-bottom: 32px; 
    }
  }
  &__title {
    display: inline-block;
    font-size: $f-lg;
    line-height: 2;
    margin: 0;
    border-bottom: solid 2px $black;
    @include medium {
      font-size: $f-md;
    }
  }
}

// Button Style

.btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 200px;
  padding: 12px 32px;
  border-radius: 24px;
  text-decoration: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-align: center;
  font-size: $f-sm;
  transition: all 300ms ease;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  &--primary {
    background-color: $primary;
    color: $white;
    &:hover {
      background-color: $secondary;
    }
  }
  &--secondary {
    background-color: $secondary;
    color: $white;
    &:hover {
      background-color: $primary;
    }
  }
}

// Background Style

[class^="bg-"], [class*=" bg-"] {
  color: $white;
  h3 {
    &:hover {
      color: $white!important;
    }
  }
}

.bg {
  &-primary {
    background-color: $primary;
  }
  &-secondary {
    background-color: $secondary;
  }
  &-white {
    background-color: $white;
    color: $black-medium;
  }
}

.link-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background: rgba(42, 42, 42, 0.3);
}