// colors
$primary: #9c69e2;
$secondary: #f063b8;
$third: #68c9ba;
$black: #000;
$black-medium: #4b5d68;
$black-light: #4a4a4a;
$black-blue: #212353;
$danger: #dc3545;
$white: #fff;
$white-medium: #f2f2f2;
$grey: #797979;
$grey-light: #c7c7c7;
$grey-medium: #a9a9a9;

// font
$f-fm: 'Source Sans Pro', sans-serif;
$f-xl: 40px;
$f-lg: 32px;
$f-md: 24px;
$f-p: 20px;
$f-sm: 16px;
$f-xs: 14px;

// container
$container: 1120px;

// responsive
$large: 1199.98px;
$custom: 1000px;
$medium: 991.98px;
$small: 767.98px;
$extra-small: 575.86px;
$retina: 320px;