/*===============  accordion  ===============*/

.accordion {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 5px;

  &__item {
    background-color: $white;
    border-top: 1px solid $grey-light;
    transition: all 200ms ease;
    padding: 20px 16px;
    &:last-child {
    border-bottom: 1px solid $grey-light;
  }
  }

  &__title {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    &::after {
      content: "\f078";
      font-family: "FontAwesome";
      position: absolute;
      right: 0;
      top: 0;
      font-weight: 400;
      color: $black;
      transition: all 300ms ease-in-out;
    }
  }
  &__body {
    display: none;
  }

  &__desc {
    padding-top: 16px;
    margin: 0;
  }
}

.show {
  .accordion {
    border-color: $primary;
    &__title:after {
      color: $primary;
      transform: rotate(180deg);
    }
    &__title {
      color: $primary;
    }
  }
}