/*================  main-banner area  ==================*/

.main-banner {
  &__item {
    position: relative;
    padding: 225px 0 160px;
    @include clearfix;
    @include medium {
      padding: 172px 0 100px;
    }
  }
  &__img-wrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0;
      transform: scale(1.2);
      transition: all 5000ms ease-in-out;
      transition-delay: 0ms;
      @include extra-small {
        object-position: left;
      }
    }
  }
  &__text-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 650px;
    color: $white;
  }
  &__title {
    font-size: $f-xl;
    line-height: 1.3;
    margin: 0 0 16px;
    opacity: 0;
    transform: translateX(16px);
    transition: all 1250ms ease;
    transition-delay: 250ms;
    @include medium {
      font-size: $f-lg;
    }
  }
  &__desc {
    font-size: $f-md;
    line-height: 1.5;
    margin: 0 0 16px;
    opacity: 0;
    transform: translateX(16px);
    transition: all 1250ms ease;
    transition-delay: 0;
    @include medium {
      font-size: $f-p;
    }
  }
  &__btn {
    margin-top: 16px;
    opacity: 0;
    padding: 10px 32px;
    font-size: $f-p;
    transform: translateX(16px);
    transition: opacity 1250ms ease, transform 1250ms ease, background-color 350ms ease, color 350ms ease;
    transition-delay: 0ms;
  }
}

.single-item,
.owl-item.active {
  .main-banner {
    &__img-wrapper {
      img {
        transform: scale(1);
        opacity: 1;
        transition: opacity 3500ms ease, transform 5000ms ease;
        transition-delay: 0s;
      }
    }
    &__title {
      transform: translateX(0);
      opacity: 1;
      transition: all 1750ms ease;
      transition-delay: 1000ms;
    }
    &__desc {
      transform: translateX(0);
      opacity: 1;
      transition: all 1750ms ease;
      transition-delay: 1500ms;
    }
    &__btn {
      transform: translateX(0);
      opacity: 1;
      transition: opacity 1750ms ease 2000ms, transform 1750ms ease 2000ms, background-color 350ms ease 0ms, color 350ms ease 0ms;
    }
  }
}

/*================  /main-banner area  ==================*/