.card {
  position: relative;
  overflow: hidden;
  box-shadow: 4px 0 20px -5px rgba( 0, 0, 0, 0.2 );
  background-color: $white;
  transition: all 400ms ease;
  &__slider {
    line-height: 1;
    font-size: 0;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    @include small {
      display: block;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      overflow-x: auto;
      margin-left: -24px;
      padding-left: 24px;
      border-radius: 0;
    }
  }
  &__box {
    width: 320px;
    height: 460px;
    margin: 0;
    border-radius: 0;
    &:hover .card__text-wrapper {
      transform: translateY(-8px);
    }
    @include medium {
      width: 300px;
    }
    &:first-child {
      @include small {
        border-radius: 8px 0 0 8px;
      }
    }
    &:last-child {
      @include small {
        border-radius: 0 8px 8px 0;
        margin-right: 16px;
      }
    }
    .card__image-wrapper {
      height: 100%;
    }
    .card__text-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      color: $white;
    }
  }
  &:hover img {
    transform: scale(1.10);
    transition-delay: 200ms;
  }
  &__image-wrapper {
    overflow: hidden;
    width: 100%;
    height: 240px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transform: scale(1);
      transition: all 400ms ease;
    }
  }
  &__text-wrapper {
    padding: 16px;
    width: 100%;
    transition: all 400ms ease;
  }
  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: $f-p;
    margin: 0 0 16px;
    line-height: 1.2;
    transition: all 300ms ease;
  }
  &__desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-size: $f-sm;
    overflow: hidden;
    margin: 0 0 16px;
  }
}