.main-product {
  width: 100%;
  min-height: 460px;
  overflow: hidden;
  position: relative;
  @include large {
    min-height: initial;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: calc(50% - 540px);
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 2;
    @include large {
      position: static;
      margin-right: -24px;
    }
    @include small {
      margin-right: -16px;
    }
  }

  &__content {
    position: relative;
    padding: 0;
  }

}