.dropdown {
  position: relative;
  // &:hover &__menu {
  //   visibility: visible;
  //   opacity: 1;
  //   transform: none;
  //   @include medium {
  //     padding: 16px 24px;
  //     width: 100%;
  //     height: auto;
  //   }
  // }
  &__menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 42px;
    left: 0;
    width: 200px;
    height: auto;
    padding: 16px;
    border-radius: 8px;
    background-color: $white;
    text-align: left;
    box-shadow: 4px 0 20px -5px rgba( 0, 0, 0, 0.4 );
    transform: translateY(16px);
    transition: all 400ms ease;
    // @include medium {
    //   position: relative;
    //   top: 0;
    //   padding: 0;
    //   width: 0;
    //   height: 0;
    //   margin: 0;
    //   background-color: $primary;
    //   box-shadow: none;
    // }
    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &-item {
      margin: 0 0 8px;
      transition: all 200ms ease;
      &:hover {
        padding-left: 4px;
        border-left: 4px solid $primary;
      }
    }
    &-link {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      font-weight: 600;
      font-size: $f-sm;
      color: $black-blue;
      transition: all 200ms ease;
      &:hover {
        color: $primary;
      }
      // @include medium {
      //   color: $white;
      //   font-size: $f-p;
      // }
    }
  }
  &-show &__menu {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}