/*================  header area  ==================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  background-color: $white;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .1), 0 3px 14px 3px rgba(0, 0, 0, .1), 0 4px 5px 0 rgba(0, 0, 0, .1);

  &__wrapper {
    position: relative;
  }

  &__nav {
    padding: 24px 0;
    position: relative;
    &::after {
      content: '';
      display: table;
      clear: both;
    }
    @include medium {
      padding: 16px 0;
    }
    &-menu {
      float: right;
      margin-top: 4px;
      @include medium {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        float: none;
        margin: 0;
        z-index: 8;
        top: 70px;
        right: 0;
        width: 100%;
        transition: all 200ms ease;
      }
    }

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
      // @include medium {
      //   text-align: center;
      // }
    }

    &-item {
      float: left;
      margin-right: 40px;
      opacity: 0;
      transform: translateX(16px);
      transition: all 400ms ease;
      &:last-child {
        margin: 0;
      }
      @include medium {
        float: none;
        margin: 0 0 24px;
        opacity: 0;
        transform: translateY(16px);
        transition: all 400ms ease;
      }
    }

    &-link {
      color: $black-blue;
      text-decoration: none;
      transition: all 200ms ease;
      font-weight: 600;
      font-size: $f-sm;
      &:hover {
        color: $primary;
      }
      @include medium {
        display: block;
        color: $white;
        font-size: $f-p;
        width: 100%;
        height: 100%;
        &:hover {
          color: $secondary;
        }
      }
    }
  }

  &__logo {
    margin: 0;
    float: left;
    width: 50px;
    opacity: 0;
    transform: scale(.8);
    transition: all 400ms ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    @include medium {
      opacity: 1;
      transform: none;
      width: 40px;
      margin-top: 4px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__active {
    color: $primary;
    @include medium {
      color: $secondary;
    }
  }

  &__burger-menu {
    display: none;
    float: right;
    position: relative;
    border: 0;
    outline: 0;
    z-index: 9;
    width: 40px;
    height: auto;
    font-size: 0;
    line-height: 1;
    padding: 12px 0;
    text-align: right;
    cursor: pointer;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    @include medium {
      display: block;
    }
    .menu-bar {
      width: 24px;
      height: 2px;
      display: inline-block;
      margin-bottom: 6px;
      background-color: $primary;
      border-radius: 1px;
      transition: all 350ms ease;
      transition-delay: 400ms;
      transform-origin: center center;
      &:nth-child(2) {
        width: 20px;
        opacity: 1;
        transform: scale(1);
      }
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }

  &__circle-menu {
    @include medium {
      position: absolute;
      top: 16px;
      right: -8px;
      z-index: 5;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transform: scale(0);
      background-color: $primary;
      transition: all 750ms ease;
    }
  }

  &-show {
    .header {
      &__logo {
        opacity: 1;
        transform: scale(1);
        transition-delay: 150ms;
      }
      &__nav {
        &-item {
          transform: translateX(0);
          opacity: 1;
          @for $i from 1 through 8 {
            $delay: 100;
            &:nth-child(#{$i}) {
              transition-delay: ($i * 100 + $delay + ms);
            }
          }
        }
      }
    }
  }

  &__show-menu {
    .header {
      &__nav {
        &-menu {
          visibility: visible;
          opacity: 1;
        }
        &-item {
          transform: translateX(0);
          opacity: 1;
          @for $i from 1 through 8 {
            $delay: 300;
            &:nth-child(#{$i}) {
              transition-delay: ($i * 100 + $delay + ms);
            }
          }
        }
      }
      &__burger-menu {
        .menu-bar {
          background-color: $white;
          margin-bottom: 5px;
          &:nth-child(1) {
            transform: rotate(135deg) translate(4px, -4px);
            transition-delay: 100ms;
          }
          &:nth-child(2) {
            transform: scale(0);
            opacity: 0;
            transition-delay: 0ms;
          }
          &:nth-child(3) {
            transform: rotate(-135deg) translate(6px, 6px);
            transition-delay: 100ms;
          }
        }
      }
      &__circle-menu {
        transition-delay: 200ms;
        transform: scale(65);
      }
    }
  }
}