.main-features {
  &__wrapper {
    text-align: center;
  }
  &__row {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 32px;
    &:last-child {
      margin-right: 0;
    }
  }
}