.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: rgba(42, 42, 42, 0.3);

  &__container {
    width: 100%;
    height: 100%;
    display: table;
  }

  &__box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 16px;
  }

  &__content {
    display: inline-block;
    text-align: left;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    background-color: $white;
  }

  &__header {
    position: relative;
    padding: 16px;
    margin: 0 0 4px;
    border-bottom: 1px solid $grey-medium;

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__title {
    float: left;
    color: $black;
    font-size: 24px;
    margin: 0;
  }

  &__close {
    float: right;
    background-color: transparent;
    text-align: right;
    color: red;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 8px 0 0;
    font-size: $f-sm;
    cursor: pointer;
    transition: all 450ms ease;

    &:hover {
      transform: rotate(90deg);
    }
  }

  &__body {
    padding: 16px;
    margin: 0 auto;
  }

  &__img {
    width: 100%;
    height: 320px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    padding-top: 16px;
  }

  &__desc {
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
  }
}