extends ../templates/default.pug

block siteHeader
  -
    menu = 'home'
    siteTitle = 'Home'
    siteDesc = 'Brogrammers Sharing Code'

block siteContent
  include home/main-banner.pug
  include ../layouts/home.pug
  include home/features-modal.pug
  include home/features-card.pug
