-
  data = [
      {
        title: 'features Tabs',
        image: 'assets/img/bg/bg-5.jpg',
        to: 'tab.html'
      },
      {
        title: 'features Accordion',
        image: 'assets/img/bg/bg-6.jpg',
        to: 'accordion.html'
      },
      {
        title: 'features Modal',
        image: 'assets/img/bg/bg-7.jpg',
        to: 'modal.html'
      },
      {
        title: 'features Dropdown',
        image: 'assets/img/bg/bg-8.jpg',
        to: 'dropdown.html'
      }
  ];

include ../../layouts/features/carousel.pug