-
  modal = [ 
    {
      target: 'modal-1',
      title: 'modal 1',
      desc: 'Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Sequi nihil ut sed deleniti excepturi placeat accusamus praesentium, est aliquam fugit modi dolorum, a libero!',
      image: 'assets/img/bg/bg-1.jpg'
    },
    {
      target: 'modal-2',
      title: 'modal 2',
      desc: 'Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Sequi nihil ut sed deleniti excepturi placeat accusamus praesentium, est aliquam fugit modi dolorum, a libero!',
      image: 'assets/img/bg/bg-2.jpg'
    }
  ];

include ../../layouts/features/modal.pug