-
  banner = [
    {
      title: 'Experience is the name everyone gives to their mistakes',
      desc: 'Perfection is achieved not when there is nothing more to add, but rather when there is nothing more to take away',
      image: 'assets/img/bg/bg-5.jpg'
    },
    {
      title: 'In order to be irreplaceable, one must always be different',
      desc: 'Sometimes it pays to stay in bed on Monday, rather than spending the rest of the week debugging Monday’s code',
      image: 'assets/img/bg/bg-6.jpg'
    }
  ];

include ../../layouts/features/main-banner.pug