//- card item
.card-features__item
  a.card-features__link(href="#")
  .card-features__img
    img(src='assets/img/bg/japan/portrait/'+data.image alt=data.title)/
  .card-features__text
    h4.card-features__title 
      | !{data.title}
